.navbar-bg {
  background-color: var(--primary-purple);
  font-size: 1.5rem;
  height: 6rem;
  padding: 1rem 2rem;
}

.navbar {
  color: var(--primary-white);
}

.menu-icon {
  color: var(--primary-white);
}

.cart-count {
  margin: 0 0 0 1rem;
  color: var(--primary-white);
}

.brand-text:hover {
  cursor: pointer;
}
